@import './base.less';

// main
#main {
    padding-top: 45px;
    padding-bottom: 45px;
}
// 分类导航
#nav {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    .category {
        width: 33.3%;
        a {
            img {
                width: 100%;
            }
        }
    }
}
// banner
#banner {
    padding: 0 10px;
//  浮动布局样式
    // a {
    //     &:nth-child(2) {
    //         width: 32.9%;
    //         float: right;
    //         img {
    //             width: 100%;
    //         }
    //     }
    //     &:nth-child(2n+1) {
    //         width: 67.1%;
    //         float: left;
    //         img {
    //             width: 50%;
    //             float: left;
    //         }
    //     }
    // }

//  栅格布局样式
    .mui-row {
        >div {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}

// 品牌专区
#brand {
    padding: 10px;
    >img {
        width: 100%;
    }
    ul {
        li {
            width: 25%;
            float: left;
            img {
                width: 100%;
            }
        }
    }
}
// 运动生活专区
#sport,#woman,#man {
    overflow: hidden;
    padding: 10px;
    >img {
        width: 100%;
    }
    .box {
        a {
            float: left;
            padding: 5px;
            width: 50%;
            .product {
                padding: 10px;
                text-align: center;
                box-shadow: 0 0 5px #ccc;
                img {
                    width: 100%;
                }
                p {
                    margin-bottom: 10px;
                    .red {
                        color: red;
                    }
                    .del {
                        text-decoration-line: line-through;
                    }
                }
            }
        }  
    }
}
